.enquiry-form {
  color: #fff;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #ccc;
}

.form-control {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #00ff00;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #00ff00;
  color: #292929;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-cancel {
  width: 100%;
  padding: 10px;
  background-color: #93eb93;
  color: #292929;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-cancel:hover {
  background-color: #fff;
  color: #00ff00;
}
.btn-submit:hover {
  background-color: #fff;
  color: #00ff00;
}

@media (width: 768px) {
  .enquiry-form {
    padding: 30px;
  }

  .form-group label {
    font-size: 1.1rem;
  }

  .btn-submit {
    font-size: 1.1rem;
  }
}

.astrik {
  color: red;
}

.enquiry-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #00ff00;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.error-message {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 5px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.btn-submit,
.btn-cancel {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-submit {
  background-color: #00ff00;
  color: #292929;
  border: none;
}

.btn-submit:disabled {
  background-color: #8d8d8d;
  cursor: not-allowed;
}

.btn-cancel {
  background-color: #ff4d4d;
  color: white;
  border: none;
}