.b {
  background-color: #121212;
}

/* General Styles */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  transition: transform 0.5s ease-in-out;
}

/* Welcome Section */
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  padding: 2rem;
  font-family: "Arial", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("../../../assets/GoldenTemple.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.welcome-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.welcome-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.about-amritsar p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  width: 100%;
}

.offers {
  margin-top: 2rem;
}

.offers h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.offers ul {
  list-style: none;
  padding: 0;
}

.offers ul li {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

ul li::before {
  content: "✔ ";
  color: #00ff00;
  font-weight: bold;
}

/* Make Welcome Container Fade-In */
.welcome-container {
  transform: translateY(50px);
  opacity: 0;
}

.welcome-container.in-view {
  transform: translateY(0);
  opacity: 1;
}

/* Tiles Section */
.tiles-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* Offers Section */
.offers-section {
  margin-top: 50px;
  padding: 2rem;
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
}

.offers-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.offers-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.offer-card {
  background-color: #292929;
  border-radius: 10px;
  padding: 1.5rem;
  width: 250px;
  margin: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.offer-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.offer-card i {
  font-size: 3rem;
  color: #00ff00;
  margin-bottom: 10px;
}

.offer-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.offer-card p {
  font-size: 1rem;
  line-height: 1.5;
  color: #d3d3d3;
}

/* About Us Section */
.about-us-section {
  margin-top: 50px;
  padding: 2rem;
  background-color: #292929;
  color: #ffffff;
  text-align: center;
}

.about-us-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-us-section p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.verify-link {
  font-size: 1.2rem;
  color: #00ff00;
  text-decoration: none;
  border: 2px solid #00ff00;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.verify-link:hover {
  background-color: #00ff00;
  color: #292929;
}

/* Contact Us Section */
.contact-us-section {
  margin-top: 50px;
  padding: 2rem;
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
}

.contact-us-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.contact-icon-container {
  background-color: #00ff00;
  border-radius: 50%;
  padding: 15px;
  margin-right: 15px;
  font-size: 2rem;
  color: #292929;
  transition: background-color 0.3s;
  cursor: pointer;
}

.contact-icon-container:hover {
  background-color: #ffffff;
}

.contact-number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#phone-number {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.copy-button {
  background-color: #00ff00;
  color: #292929;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #ffffff;
  color: #292929;
}

.copy-message {
  color: #00ff00;
  font-size: 1rem;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .welcome-title {
    font-size: 4rem;
  }

  .about-amritsar p {
    font-size: 1.5rem;
  }

  .offers h2 {
    font-size: 2.5rem;
  }

  .offers ul li {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .offers-container {
    flex-direction: column;
    align-items: center;
  }

  .offer-card {
    width: 90%;
  }

  .contact-details {
    flex-direction: column;
  }
}
