<div class="b">
  <div class="welcome-container">
    <h2 class="welcome-title">Amritsar Real Estate</h2>

    <div class="about-amritsar" style="text-align: -webkit-center">
      <p>
        Discover the future of real estate in Amritsar, a booming hub for
        investment and modern living. Known as "Guru Ki Nagri," Amritsar is
        rapidly emerging as a prime destination for homebuyers seeking a perfect
        blend of culture and modernity. As this city expands, it offers a
        peaceful yet connected lifestyle that is drawing attention from all
        over. Secure your future in this highly desirable location.
      </p>
    </div>

    <div class="offers">
      <h2>We Offer You:</h2>
      <ul>
        <li>Cheapest prices</li>
        <li>Free Consultancy</li>
        <li>PUDA-approved colony</li>
        <li>Zero brokerage on buying</li>
      </ul>
    </div>
  </div>
  <!-- <h1 style="color: aliceblue; text-align: center">
    Best Colony in Amritsar We Deal in:
  </h1> -->
  <!-- New clickable tiles section -->
  <div class="tiles-section">
    <app-clickable-tile
      [imageUrl]="'../../assets/DreamCity.jpeg'"
      [hoverImageUrl]="'assets/explore-hover1.jpg'"
      [hoverText]="'Dream City'"
    >
    </app-clickable-tile>

    <app-clickable-tile
      [imageUrl]="'../../assets/aerocity2.webp'"
      [hoverImageUrl]="'assets/explore-hover2.jpg'"
      [hoverText]="'AeroCity'"
    >
    </app-clickable-tile>

    <app-clickable-tile
      [imageUrl]="'../../assets/Virsa.jpg'"
      [hoverImageUrl]="'assets/explore-hover3.jpg'"
      [hoverText]="'Experion Virsa'"
    >
    </app-clickable-tile>
  </div>

  <!-- Attractive Offers Section -->
  <div class="offers-section">
    <h2>Exclusive Offers for You</h2>
    <div class="offers-container">
      <div class="offer-card">
        <i class="fas fa-compass"></i>
        <h3>Free Vastu Consultancy</h3>
        <p>
          Get a free Vastu consultation tailored to your Teva, ensuring peace
          and prosperity in your new home.
        </p>
      </div>
      <div class="offer-card">
        <i class="fas fa-bell"></i>
        <h3>Regular Plot Updates</h3>
        <p>
          We provide regular updates on the progress and status of your plot so
          that you're always informed.
        </p>
      </div>
      <div class="offer-card">
        <i class="fas fa-money-check-alt"></i>
        <h3>Easy Payment Plans</h3>
        <p>
          Flexible and convenient payment options to make owning your dream plot
          easier than ever before.
        </p>
      </div>
      <div class="offer-card">
        <i class="fas fa-users"></i>
        <h3>Customer Support</h3>
        <p>
          Dedicated customer support to assist you through the buying process
          and answer any questions you may have.
        </p>
      </div>
    </div>
  </div>
  <app-testimonial></app-testimonial>
</div>
