.slider-container {
  border: blue;
  position: relative;
 
  margin: auto;
  overflow: hidden;
  max-height: 700px;
}

.slider-image {
  width: 100%;
  height: auto;
}

.slider-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.slider-control.left {
  left: 0;
}

.slider-control.right {
  right: 0;
}
